# Env
.env

# macOS
.DS_Store
**/.DS_Store

# IntelliJ / VSCode
.idea/
*.iml
.vscode/

# Maven
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
logs/

# Docker volumes locaux
postgres_data/
